<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Empleados</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Extensión</th>
                        <th>Email</th>
                        <th>Puesto</th>
                    </tr>
                </thead>
                <tbody>  
                    <% aDatos.forEach((empleado, idx) => { %>  
                      <tr>
                        <td><%= idx+1 %></td>  
                        <td><%= empleado.firstName %></td>  
                        <td><%= empleado.lastName %></td>  
                        <td><%= empleado.extension %></td>  
                        <td><%= empleado.email %></td>  
                        <td><%= empleado.jobTitle %></td>  
                      </tr>  
                    <% }); %>  
                </tbody>  
              </table>
        </div>
    </div>  
</main>