<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Reporte</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <h2>
                    <%= customer.customerName %>
                </h2>
            </div>
            <% if (sales.length> 0) { %>
                <h3>Ordenes con estado 'Shipped'</h3>
                <table class="table table-striped table-hover" id="tableSales">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Orden #</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < sales.length; i++) { %>
                            <tr>
                                <td>
                                    <%= sales[i].orderDate %>
                                </td>
                                <td>
                                    <%= sales[i].orderNumber %>
                                </td>
                                <td>
                                    <%= sales[i].productName %>
                                </td>
                                <td>
                                    <%= sales[i].quantityOrdered %>
                                </td>
                                <td>
                                    <%= sales[i].priceEach %>
                                </td>
                                <td>
                                    <%= sales[i].quantityOrdered *sales[i].priceEach %>
                                </td>
                                <td>
                                    <%= sales[i].status %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% } else { %>
                    <div class="d-flex justify-content-center pt-2">
                        <h3>No hay ordenes con estado 'Shipped'</h3>
                    </div>
                    <% } %>

        </div>
    </div>
</main>